Sir_Workspace/Book_Web_Service_Provider/WebContent/wsdl/BookServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.bookwebserviceprovider.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.bookwebserviceprovider.com" xmlns:intf="http://service.bookwebserviceprovider.com" xmlns:tns1="http://domain.bookwebserviceprovider.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.bookwebserviceprovider.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://domain.bookwebserviceprovider.com"/>
   <element name="isbn" type="xsd:int"/>
   <element name="searchBookReturn" type="tns1:Book"/>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://domain.bookwebserviceprovider.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Book">
    <sequence>
     <element name="author" nillable="true" type="xsd:string"/>
     <element name="bookName" nillable="true" type="xsd:string"/>
     <element name="isbn" nillable="true" type="xsd:int"/>
     <element name="price" nillable="true" type="xsd:double"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="searchBookResponse">

      <wsdl:part element="impl:searchBookReturn" name="searchBookReturn">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="searchBookRequest">

      <wsdl:part element="impl:isbn" name="isbn">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="BookServiceImpl">

      <wsdl:operation name="searchBook" parameterOrder="isbn">

         <wsdl:input message="impl:searchBookRequest" name="searchBookRequest">

       </wsdl:input>

         <wsdl:output message="impl:searchBookResponse" name="searchBookResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="BookServiceImplSoapBinding" type="impl:BookServiceImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="searchBook">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="searchBookRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="searchBookResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="BookServiceImplService">

      <wsdl:port binding="impl:BookServiceImplSoapBinding" name="BookServiceImpl">

         <wsdlsoap:address location="http://localhost:8082/Book_Web_Service_Provider/services/BookServiceImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
