Sir_Workspace/ContractFirstExample_JAX_WS_RI/src/main/webapp/WEB-INF/BookService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace=
"http://service.contractfirstexample.com"
  xmlns:impl=
  "http://service.contractfirstexample.com" 
  xmlns:intf="http://service.contractfirstexample.com" 
  xmlns:tns1="http://domain.contractfirstexample.com"
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
   xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
   xmlns:xsd="http://www.w3.org/2001/XMLSchema">

 <wsdl:types>
  <schema elementFormDefault="qualified" 
  targetNamespace="http://service.contractfirstexample.com"
   xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://domain.contractfirstexample.com"/>
   <element name="isbn" type="xsd:int"/>
   <element name="searchBookReturn" type="tns1:Book"/>
  </schema>
  <schema elementFormDefault="qualified" 
  targetNamespace=
  "http://domain.contractfirstexample.com"
   xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Book">
    <sequence>
     <element name="author" nillable="true" type="xsd:string"/>
     <element name="bookName" nillable="true" type="xsd:string"/>
     <element name="isbn" nillable="true" type="xsd:int"/>
     <element name="price" nillable="true" type="xsd:double"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="searchBookResponse">

      <wsdl:part element="impl:searchBookReturn"
       name="book">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="searchBookRequest">

      <wsdl:part element="impl:isbn" name="isbn">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="IBookService">

      <wsdl:operation name="searchBook"
       parameterOrder="isbn">

         <wsdl:input message=
         "impl:searchBookRequest"
          name="searchBookRequest">

       </wsdl:input>

         <wsdl:output message="impl:searchBookResponse" name="searchBookResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="BookServiceImplSoapBinding" type="impl:IBookService">

      <wsdlsoap:binding style="document"
       transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="searchBook">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="searchBookRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="searchBookResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="BookServiceImplService">

      <wsdl:port binding="impl:BookServiceImplSoapBinding" name="IBookService">

         <wsdlsoap:address location="http://localhost:8082//ContractFirstExample_JAX_WS_RI/searchBook"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
